html,
body {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.header {
  background: #F55A5A;
  height: 55px;
  font-family: "Inter";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.globe {
  height: 24px;
  width: auto;
  margin-right: 0.5em;
}

.navbar {
  height: 24px;
  display: flex;
}